doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  meta(charset="utf-8")
  title Prototype

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('initialize');


body

.header
  .head
    .container
        img(src="images/logo_small.png").logo
        img(src="images/lol.png").olivki
        p ЧТО? ГДЕ? КОГДА?
        .login
          a Вход
  .cetner
    .container
      img(src="")
      p.one Онлайн-кубок России по игре
      h1 ЧТО? ГДЕ? КОГДА?
      p.two 13 апреля
      button РЕГИСТРАЦИЯ
  .social-buttons
    .container
      table
        tr
          td.one Пусть все узнают!
          td.two Facebook
          td.three Одноклассники
          td.four Вконтакте
          td.five Twitter

.judges
  .container
    p.judgers СУДЬИ
    .judgainer
      .one
        img(src="images/person1.png")
        p.name Александр Друзь
        p.text магистр игры, шестикратный обладатель приза «Хрустальная сова», трехкратный чемпион мира по игре «Что? Где? Когда?»
      .two
          img(src="images/person2.png")
          p.name Евгений Суханов
          p.text доктор юридических наук, профессор, заслуженный деятель науки Российской Федерации, заведующий кафедрой гражданского права МГУ им. Ломоносова
      .three
          img(src="images/person3.png")
          p.name Николай Чудаков
          p.text главный редактор Системы Юрист, игрок спортивной версии «Что? Где? Когда?», капитан команды

.jury
  .container-2
    .photos

.rules
  .container-3
  //1234

.allplaces
  .container
    p.zagolovok В офисе, дома и в дороге
    img(src="")
    p.text Игра доступна с любых компьютеров, мобильных устройств и планшетов


