doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  meta(charset="utf-8")
  title ЧТО? ГДЕ? КОГДА?

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('initialize');


body

.header
  .head
    .container
        img(src="images/logo_small.png").logo
        img(src="images/lol.png").olivki
        p ЧТО? ГДЕ? КОГДА?
        .login
          a Вход
  .middle
    .container
      img(src="images/ole.png")
      p Онлайн кубок России по игре
      h1 ЧТО? ГДЕ? КОГДА?
      h2 13 апреля
      button РЕГИСТРАЦИЯ
  .social-buttons
    .container
      table
        tr
          td.one Пусть все узнают!
          td.two 
            a Facebook
          td.three 
            a Одноклассники
          td.four 
            a Вконтакте
          td.five 
            a Twitter

.judges
  .container
    p СУДЬИ
    .one
      img(src="images/.png")
      p.name
      p.text
    .two
        img(src="images/.png")
        p.name
        p.text
    .three
        img(src="images/.png")
        p.name
        p.text

.jury
  .container-2
    .polosa-1
    .photos
    .polosa-2

.rules
  .container-3
  //1234

.allplaces
  .container
    p.zagolovok В офисе, дома и в дороге
    img(src="")
    p.text Игра доступна с любых компьютеров, мобильных устройств и планшетов


