doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  meta(charset="utf-8")
  title Prototype

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('initialize');


body

.header
  .head
    .container
      .logo
      .cetner
        p.one Онлайн-кубок России по игре
        p.two ЧТО? ГДЕ? КОГДА?
        p.three среди юристов
      .login
        a Вход
  .cetner
    .container
      img(src="")
      p.one Онлайн-кубок России по игре
      h1 ЧТО? ГДЕ? КОГДА?
      p.two 13 апреля
      button РЕГИСТРАЦИЯ
  .social-buttons
    .container
      table
        tr
          td.one Пусть все узнают!
          td.two Facebook
          td.three Одноклассники
          td.four Вконтакте
          td.five Twitter

.judges
  .container
    p СУДЬИ
    .one
      img(src="images/.png")
      p.name
      p.text
    .two
        img(src="images/.png")
        p.name
        p.text
    .three
        img(src="images/.png")
        p.name
        p.text

.jury
  .container-2
    .polosa-1
    .photos
    .polosa-2

.rules
  .container-3
  //1234

.allplaces
  .container
    p.zagolovok В офисе, дома и в дороге
    img(src="")
    p.text Игра доступна с любых компьютеров, мобильных устройств и планшетов


