@import 'nib'

global-reset()

$opensans = 'Open Sans', Arial, sans-serif
    
body
  background-color: #464552
  
.container
  max-width 960px
  position relative
  margin 0 auto
  clearfix()
  
.header
  display: block
  .head
    height: 166px
    .logo
      float: left
      margin-top: 23px
      
    .login
      float: right
      margin-top: 49px
      
    
    .olivki
      position: absolute
      left: 35%
      top: 23px
    p
      position: absolute
      top: 250px
      left: 250px
      
  .center
    position: relative
    height: 1024px
    min-height: 600px
    height: 100vh
    background-color: rgb(255, 69, 53)
    background: url('../images/.png') no-repeat
    background-size: cover
  .social-buttons
    height: 168px
.judges
  .container
    height: 370px
    border: 7px solid #393744
    font-family: 'Open Sans', Arial, sans-serif
    .judgers
      text-align: center
      height: 20px
      width: 130px
      margin: 0 auto
      position: relative
      top: -10px
      background-color: #454352
      color: #FEFEFE
    .judgainer
      max-width: 660px
      margin: 80px auto 0 auto
      .one, .two, .three
        color: #F6F6F6
        display: inline-block
        text-align: center
        height: 220px
        img
          height: 120px
        .name
          margin-top: 15px
          font-size: 13px
        .text
          margin-top: 20px
          font-size: 11px
          width: 180px
      .two
        margin: 0 40px 0 60px
      .one, .three
        vertical-align: top